#menu {
    display: inline-block;
    box-shadow: 0 1em 1em #77777736;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
    padding: 1em;
    background-color: lightskyblue;
}

.menutxt {
    display: block;
    word-wrap: break-word;
    width: 405px;
}

.buttonArea {
    display: flex;
    flex-wrap: wrap;
}

.memoryButtons {
    height: 5em;
    width: 10em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
    position: absolute;
    border-radius: 1em;
    border: none;
    box-shadow: 0 7px #999;
    font-size: 20px;
    font-weight: bold;
    max-width: 160px;
    max-height: 80px;
}

.memoryButtons:disabled {
    color: black;
}

.memoryButtons:hover:enabled {
    background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.memoryButtons:active:enabled {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.visibleNumber {
    color: black;
}

.hiddenNumber {
    color: transparent;
}