.buttonArea {
    display: flex;
    flex-wrap: wrap;
}

.memoryButtons {
    height: 5em;
    width: 10em;
    margin-top: 2em;
    margin-right: 2em;
}

.memoryButtons:disabled {
    color: black;
}

.visibleNumber {
    color: black;
}

.hiddenNumber {
    color: transparent;
}